<a href="https://colab.research.google.com/github/kikiru328/enterprise_analysis/blob/main/%EC%B6%94%EC%84%B8%EC%84%A0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Introduction  
>column별 추세 확인

In [1]:
# colab drive mount

import os, sys
from google.colab import drive
drive.mount('/content/drive')
my_path = '/content/notebooks'
os.symlink('/content/drive/My Drive/Colab Notebooks', my_path)
sys.path.insert(0,my_path)

Mounted at /content/drive

In [2]:
!pip install pickle5

Collecting pickle5
  Downloading pickle5-0.0.11.tar.gz (132 kB)
     |████████████████████████████████| 132 kB 7.3 MB/s
Building wheels for collected packages: pickle5
  Building wheel for pickle5 (setup.py) ... done
  Created wheel for pickle5: filename=pickle5-0.0.11-cp37-cp37m-linux_x86_64.whl size=219297 sha256=19f6c492a8fbba7f5b5f893ded63e8148777a4d75e1862be437cfcbf309e7384
  Stored in directory: /root/.cache/pip/wheels/7e/6a/00/67136a90d6aca437d806d1d3cedf98106e840c97a3e5188198
Successfully built pickle5
Installing collected packages: pickle5
Successfully installed pickle5-0.0.11

In [3]:
%pwd
%cd '../content/notebooks'
# module import
## Data Load
from pickle5 import pickle 

## Basic module
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')

# pickle data load
# load

/content/drive/My Drive/Colab Notebooks

멤버십 개수변화?

채널 이용 개수

제휴사별 비중

오전 비중,

평일 비중

In [31]:
with open('/content/drive/MyDrive/cakd3/1차 프로젝트/5조/승혜전용/df2_제휴사.pkl', 'rb') as file:
  aa = pickle.load(file)

In [32]:
aa

       A_ratio  B_ratio  C_ratio  D_ratio
고객번호
1         0.77     0.12     0.12     0.00
2         0.97     0.03     0.00     0.00
3         0.00     0.01     0.99     0.00
4         0.61     0.24     0.15     0.00
5         1.00     0.00     0.00     0.00
...        ...      ...      ...      ...
19356     0.00     0.01     0.99     0.00
19357     0.05     0.94     0.01     0.00
19359     0.00     0.00     1.00     0.00
19360     0.01     0.04     0.00     0.96
19364     0.04     0.00     0.28     0.68

[19085 rows x 4 columns]

In [68]:
aa = aa.reset_index()
aa = aa[['고객번호']]
display(aa)
print(aa.nunique())

        고객번호
0          1
1          2
2          3
3          4
4          5
...      ...
19080  19356
19081  19357
19082  19359
19083  19360
19084  19364

[19085 rows x 1 columns]

고객번호    19085
dtype: int64

## ----------------------평일오전-------------------------

In [8]:
with open('/content/drive/MyDrive/cakd3/1차 프로젝트/5조/data/EDA/Time_구매.pkl', 'rb') as file:
  df = pickle.load(file)

In [62]:
m1 = df[(df['구매년도']==2014)&(df['구매월']==1)]
m2 = df[(df['구매년도']==2014)&(df['구매월']==2)]
m3 = df[(df['구매년도']==2014)&(df['구매월']==3)]
m4 = df[(df['구매년도']==2014)&(df['구매월']==4)]
m5 = df[(df['구매년도']==2014)&(df['구매월']==5)]
m6 = df[(df['구매년도']==2014)&(df['구매월']==6)]
m7 = df[(df['구매년도']==2014)&(df['구매월']==7)]
m8 = df[(df['구매년도']==2014)&(df['구매월']==8)]
m9 = df[(df['구매년도']==2014)&(df['구매월']==9)]
m10 = df[(df['구매년도']==2014)&(df['구매월']==10)]
m11= df[(df['구매년도']==2014)&(df['구매월']==11)]
m12= df[(df['구매년도']==2015)&(df['구매월']==12)]

m13 = df[(df['구매년도']==2015)&(df['구매월']==1)]
m14 = df[(df['구매년도']==2015)&(df['구매월']==2)]
m15= df[(df['구매년도']==2015)&(df['구매월']==3)]
m16 = df[(df['구매년도']==2015)&(df['구매월']==4)]
m17 = df[(df['구매년도']==2015)&(df['구매월']==5)]
m18 = df[(df['구매년도']==2015)&(df['구매월']==6)]
m19 = df[(df['구매년도']==2015)&(df['구매월']==7)]
m20 = df[(df['구매년도']==2015)&(df['구매월']==8)]
m21 = df[(df['구매년도']==2015)&(df['구매월']==9)]
m22 = df[(df['구매년도']==2015)&(df['구매월']==10)]
m23 = df[(df['구매년도']==2015)&(df['구매월']==11)]
m24 = df[(df['구매년도']==2015)&(df['구매월']==12)]

## -------------------제휴사----------------------

In [63]:
abcd = [m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15,m16,m17,m18,m19,m20,m21,m22,m23,m24]
#check
print(len(abcd))

24

In [64]:

def ratio_A(df):
  all_we= df.제휴사.count()
  is_we= df[df.제휴사=='A'].제휴사.count()
  return (is_we/all_we)

def ratio_B(df):
  all_we= df.제휴사.count()
  is_we= df[df.제휴사=='B'].제휴사.count()
  return (is_we/all_we)

def ratio_C(df):
  all_we= df.제휴사.count()
  is_we= df[df.제휴사=='C'].제휴사.count()
  return (is_we/all_we)

def ratio_D(df):
  all_we= df.제휴사.count()
  is_we= df[df.제휴사=='D'].제휴사.count()
  return (is_we/all_we)

In [60]:
cust_A

고객번호
1        1.00000
2        1.00000
3        0.00000
4        0.78125
5        1.00000
          ...
19319    1.00000
19320    0.00000
19322    0.00000
19323    0.00000
19325    1.00000
Length: 18741, dtype: float64

In [ ]:
  cust= i.groupby('고객번호')
  a= pd.DataFrame(cust_A)
  b= pd.DataFrame(cust_B)
  c= pd.DataFrame(cust_C)
  d= pd.DataFrame(cust_D)
  aa= pd.merge(aa,a,on='고객번호',how='left',suffixes=('', '_1'))

In [59]:
emptydata= pd.DataFrame()

for i in abcd:
  cust= i.groupby('고객번호')
  a= pd.DataFrame(cust_A)
  b= pd.DataFrame(cust_B)
  c= pd.DataFrame(cust_C)
  d= pd.DataFrame(cust_D)
  aa= pd.merge(aa,a,on='고객번호',how='left',suffixes=('', '_1'))
  aa= pd.merge(aa,b,on='고객번호',how='left',suffixes=('', '_2'))
  aa= pd.merge(aa,c,on='고객번호',how='left',suffixes=('', '_3'))
  aa= pd.merge(aa,d,on='고객번호',how='left',suffixes=('', '_4'))
  pd.concat([emptydata,aa],axis=1)

   고객번호      0_x  0_y      0_x  0_y
0     1  1.00000  0.0  0.00000  0.0
1     2  1.00000  0.0  0.00000  0.0
2     3  0.00000  0.0  1.00000  0.0
3     4  0.78125  0.0  0.21875  0.0
4     5  1.00000  0.0  0.00000  0.0

In [67]:
emptydata= pd.DataFrame()

for i in abcd:
  cust= i.groupby('고객번호')
  a= pd.DataFrame(cust_A)
  b= pd.DataFrame(cust_B)
  c= pd.DataFrame(cust_C)
  d= pd.DataFrame(cust_D)
  aa= pd.merge(aa,a,on='고객번호',how='left',suffixes=('', '_1'))
  aa= pd.merge(aa,b,on='고객번호',how='left',suffixes=('', '_2'))
  aa= pd.merge(aa,c,on='고객번호',how='left',suffixes=('', '_3'))
  aa= pd.merge(aa,d,on='고객번호',how='left',suffixes=('', '_4'))
  emptydata= pd.concat([emptydata,aa],axis=1)

emptydata

        고객번호      0_x  0_y      0_x  0_y  ...  0_4        0  0_2        0  0_4
0          1  1.00000  0.0  0.00000  0.0  ...  0.0  1.00000  0.0  0.00000  0.0
1          2  1.00000  0.0  0.00000  0.0  ...  0.0  1.00000  0.0  0.00000  0.0
2          3  0.00000  0.0  1.00000  0.0  ...  0.0  0.00000  0.0  1.00000  0.0
3          4  0.78125  0.0  0.21875  0.0  ...  0.0  0.78125  0.0  0.21875  0.0
4          5  1.00000  0.0  0.00000  0.0  ...  0.0  1.00000  0.0  0.00000  0.0
...      ...      ...  ...      ...  ...  ...  ...      ...  ...      ...  ...
19080  19356      NaN  NaN      NaN  NaN  ...  NaN      NaN  NaN      NaN  NaN
19081  19357      NaN  NaN      NaN  NaN  ...  NaN      NaN  NaN      NaN  NaN
19082  19359      NaN  NaN      NaN  NaN  ...  NaN      NaN  NaN      NaN  NaN
19083  19360      NaN  NaN      NaN  NaN  ...  NaN      NaN  NaN      NaN  NaN
19084  19364      NaN  NaN      NaN  NaN  ...  NaN      NaN  NaN      NaN  NaN

[19085 rows x 5928 columns]

In [36]:
pd.DataFrame?

In [41]:
def ratio_weekdays(df):
  all_we= df.제휴사.count()
  is_we= df[df.제휴사=='A'].제휴사.count()
  return (is_we/all_we)


# cust= m1.groupby('고객번호')
# cust_we_ratio= cust.apply(ratio_weekdays)
# m1= pd.DataFrame(cust_we_ratio, columns=['A_ratio_'+'1'])
# # with open(f'/content/drive/MyDrive/cakd3/1차 프로젝트/5조/승혜전용/', 'wb') as f:
# #   pickle.dump( , f)
# cust

In [47]:
m1

         제휴사    영수증번호   고객번호  점포코드       구매일자  ...  구매년도  오전  오후  평일  휴일
52         A  1254634   2168    30 2014-01-20  ...  2014   0   1   1   0
53         A  1254635    732    30 2014-01-20  ...  2014   0   1   1   0
54         A  1254636   6746    30 2014-01-20  ...  2014   0   1   1   0
55         A  1254637   4325    31 2014-01-20  ...  2014   0   1   1   0
56         A  1254638   8199    31 2014-01-20  ...  2014   0   1   1   0
...       ..      ...    ...   ...        ...  ...   ...  ..  ..  ..  ..
28522520   D   175961  15701     3 2014-01-06  ...  2014   0   1   1   0
28522521   D   175961  15701     3 2014-01-06  ...  2014   0   1   1   0
28522709   D   175947  16619     3 2014-01-02  ...  2014   0   1   1   0
28522710   D   175984  18608     3 2014-01-12  ...  2014   1   0   0   1
28522717   D   195639  19151     9 2014-01-28  ...  2014   0   1   1   0

[1106371 rows x 19 columns]

In [21]:
def ratio_weekdays(df):
  all_we= df.제휴사.count()
  is_we= df[df.제휴사=='A'].제휴사.count()
  return (is_we/all_we).round(2)

for i,value in enumerate(abcd):
  cust= value.groupby('고객번호')
  cust_we_ratio= cust.apply(ratio_weekdays)
  globals()[f'{value}']= pd.DataFrame(cust_we_ratio, columns=['A_ratio_'+i])
  # with open(f'/content/drive/MyDrive/cakd3/1차 프로젝트/5조/승혜전용/', 'wb') as f:
  #   pickle.dump( , f)
  print(globals)

TypeError: ignored

In [ ]:
def ratio_weekdays(df):
  all_we= df.제휴사.count()
  is_we= df[df.제휴사=='B'].제휴사.count()
  return (is_we/all_we).round(2)

cust= df4.groupby('고객번호')

cust_we_ratio= cust.apply(ratio_weekdays)

B_ratio= pd.DataFrame(cust_we_ratio, columns=['B_ratio'])
B_ratio.head()

In [ ]:
def ratio_weekdays(df):
  all_we= df.제휴사.count()
  is_we= df[df.제휴사=='C'].제휴사.count()
  return (is_we/all_we).round(2)

cust= df4.groupby('고객번호')

cust_we_ratio= cust.apply(ratio_weekdays)

C_ratio= pd.DataFrame(cust_we_ratio, columns=['C_ratio'])
C_ratio.head()

In [ ]:
def ratio_weekdays(df):
  all_we= df.제휴사.count()
  is_we= df[df.제휴사=='D'].제휴사.count()
  return (is_we/all_we).round(2)

cust= df4.groupby('고객번호')

cust_we_ratio= cust.apply(ratio_weekdays)

D_ratio= pd.DataFrame(cust_we_ratio, columns=['D_ratio'])
D_ratio.head()

In [ ]:
aff4 = pd.merge( A_ratio, B_ratio, on=['고객번호'], how='left')
aff4 = pd.merge( aff4, C_ratio, on=['고객번호'], how='left')
aff4 = pd.merge( aff4, D_ratio, on=['고객번호'], how='left')
aff4.head(2)

In [ ]:
with open(f'/content/drive/MyDrive/cakd3/1차 프로젝트/5조/매출감소고객_예측모델_변수생성/모든반기_변수모음/123반기_변수모음/df1_제휴사.pkl', 'wb') as f:
    pickle.dump( aff1, f)

with open(f'/content/drive/MyDrive/cakd3/1차 프로젝트/5조/매출감소고객_예측모델_변수생성/모든반기_변수모음/123반기_변수모음/df2_제휴사.pkl', 'wb') as f:
    pickle.dump( aff2, f)

with open(f'/content/drive/MyDrive/cakd3/1차 프로젝트/5조/매출감소고객_예측모델_변수생성/모든반기_변수모음/123반기_변수모음/df3_제휴사.pkl', 'wb') as f:
    pickle.dump( aff3, f)

with open(f'/content/drive/MyDrive/cakd3/1차 프로젝트/5조/매출감소고객_예측모델_변수생성/모든반기_변수모음/123반기_변수모음/df4_제휴사.pkl', 'wb') as f:
    pickle.dump( aff4, f)

In [ ]:
def ratio_weekdays(df):
  all_we= df.평일.count()
  is_we= df[df.평일==1].평일.count()
  return (is_we/all_we).round(2)

cust= df4.groupby('고객번호')

cust_we_ratio= cust.apply(ratio_weekdays)

wek_ratio= pd.DataFrame(cust_we_ratio, columns=['wdys_ratio'])
wek_ratio

In [ ]:
def ratio(df):
  all_mor= df.오전.count()
  is_mor= df[df.오전==1].오전.count()
  return (is_mor/all_mor).round(2)


cust= df4.groupby('고객번호')

mor_ratio= cust.apply(ratio)



mor_ratio= pd.DataFrame(mor_ratio, columns=['mor_ratio'])
mor_ratio

In [ ]:
cust_ratio = pd.merge( wek_ratio, mor_ratio, on=['고객번호'], how='left')

In [ ]:

with open(f'/content/drive/MyDrive/cakd3/1차 프로젝트/5조/매출감소고객_예측모델_변수생성/모든반기_변수모음/123반기_변수모음/df4_평일오전.pkl', 'wb') as f:
    pickle.dump( df1_cust, f)